@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@300&display=swap');

/*-The body and headings were inspired by the love Running Project by CI-*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: lightblue;
    font-family: merriweather, san-serif;
    font-weight: 300;
    color:#3a3a3a;
    text-align: center;
}

h1, h2 {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}


/*-Heading css-*/

.heading {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 414px) {
    .heading {
        text-align: center;
        font-size: 0.8rem;
    }
}

/*-the game area-*/
/*-Inspired by the Love Maths Project by CI and my Project Simple Foods-*/

.play-area {
    background: linear-gradient(45deg, grey, transparent);
    /*-Ispired display and Justify content via How to Align Image and Text Side by Side with HTML & CSS | frontendDUDE-*/
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 1rem auto;
    border: 5px solid black;
}

.game-zone {
    text-align: center;
}


/* --------- Buttons */
/*-Inspired by the Love Maths Project by CI-*/

.btn {
    width: 220px;
    height: 60px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--big::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5em;
}

.btn--blue {
    border-color: blue;
    color: blue;
    margin-bottom: 2rem;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: darkblue;
    color: white;
}

.btn--yellow {
    border-color: yellow;
    color: yellow;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: darkgoldenrod;
    color: white;
}

.btn--red {
    border-color: red;
    color: red;
    margin-bottom: 2rem;
}

.btn--red:active,
.btn--red:hover {
    background-color: darkred;
    color: white;
}

.btn--green {
    border-color: green;
    color: green;
    margin-bottom: 2rem
}

.btn--green:active,
.btn--green:hover {
    background-color: darkgreen;
    color: white;
}

.btn--brown {
    margin-top: 2px;
    background-color: #fff;
    color: maroon;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.btn--brown:active,
.btn--brown:hover {
    background-color: maroon;
    color: #fff;
}

/*-footer-*/
footer {
    height: 30vh;
}



/*-score-area-*/
/*-Inspired by the Love Maths Project by CI-*/
.score-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    background-color: #fff;
    border: 5px solid #252525;
    margin: 2rem auto 1rem auto;
    padding: 10px;
    width: 30%;
}

.scores {
    display: inline-block;
    font-size: 20px;
}

#win {
    color: green;
    font-weight: bold;
    font-size: 20px;
}

#draw {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}

#lose {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

/*-css for the result message-*/
#result {
    font-size: 30px;
}